body {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

@media screen and (max-width: 600px) {
  body {
    margin: 8px;
  }

  h1 {
    font-size: 20px;
    line-height: 160%;
  }

  p {
    font-size: 18px;
    line-height: 28.8px;
  }

  a {
    width: 50px;
  }

  .tile .question-button {
    border-radius: 50px;
  }
}

@media screen and (min-width: 601px) {
  body {
    margin: 30px;
  }

  h1 {
    font-size: 40px;
    line-height: 140%;
  }

  p {
    font-size: 24px;
  }

  a {
    width: 80px;
  }

  .tile .question-button {
    border-radius: 100px;
  }
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 10%;
}

.navbar a {
  background: linear-gradient(rgb(250, 145, 97), rgb(247, 59, 28));
  border-radius: 10px;
  margin: 10px 10px;
  text-align: center;
  font-weight: bold;
  padding: 5px;
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-labels {
  margin: 0px;
}

.tile-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* container.n indicates n questions incorrect */
.tile {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* more than one incorrect defaults to this */
  background: linear-gradient(180deg, #f6b868 0%, #ee6b2d 100%);
  border-radius: 10px;
  margin-top: 16px;
  width: 100%;
  max-width: 1024px;
}

.tile.zero,
.navbar a.zero {
  background: linear-gradient(180deg, #76e0c2 0%, #59cada 100%);
}

.tile.one,
.navbar a.one {
  background: linear-gradient(180deg, #f1b496 0%, #ea806a 100%);
}

.tile .questions-container {
  display: flex;
  flex-direction: column;
}

.tile .single-question-container {
  display: flex;
  width: 100%;
  justify-content: center;
  min-height: 60px;
  max-height: 700px;
  margin-bottom: 10px;
}

.tile .question-button {
  cursor: pointer;
  justify-content: stretch;
  min-height: inherit;
  width: 78%;
  border: 1px solid #fbfbfb;
  background: transparent;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.tile .question-button.vertical {
  display: flex;
  flex-direction: column;
}

.tile .answer-slider {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  background: #f8caa380;
  box-shadow: 0 0 6px 1px rgb(245 69 76 / 50%);
  border-radius: 100px;
  width: 50%;
  padding: 0;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.tile .answer-slider.vertical {
  width: 100%;
  height: 50%;
  border-radius: 0px;
}

.tile .answer-slider.three {
  width: 33%;
}

.tile .answer-slider.vertical.three {
  height: 33%;
  width: 100%;
}

.tile .answer-slider.right {
  margin-left: 50%;
}

.tile .answer-slider.right.vertical {
  top: 50%;
  margin-left: 0;
}

.tile .answer-slider.three-middle {
  margin-left: 33%;
  width: 33%;
}

.tile .answer-slider.three-middle.vertical {
  top: 33%;
  height: 33%;
  margin-left: 0;
  width: 100%;
}

.tile .answer-slider.three-far-right {
  margin-left: 67%;
  width: 33%;
}

.tile .answer-slider.three-far-right.vertical {
  top: 67%;
  height: 33%;
  margin-left: 0;
  width: 100%;
}

.answer-slider {
  background-color: #f8caa310;
}

.answer-slider.zero {
  background-color: #a5e7e230;
}

.answer-slider.one {
  background-color: #f2cbbd30;
}

.tile .answer {
  flex: 1;
  padding: 0px 10px;
  box-sizing: border-box;
  text-align: center;
}

.tile .answer.active {
  color: #595b77;
}

.tile .answer.active.one {
  color: #e47958;
}

.tile .answer.active.zero {
  color: #4cad94;
}

.tile .answer.inactive {
  color: #fff;
}
